@model IQueryable<Entity.Concrete.LazerAppointment>
@using Presentation.Areas.TestSalon.Helper
@{
    ViewData["Title"] = "ReservationList";
    Layout = "~/Areas/TestSalon/Views/Shared/_Salon1Layout.cshtml";
	
  
}

<style>
	.table thead select {
		width: 100%;
		padding: 5px;
		font-size: 14px;
		line-height: 1.5;
		border: 1px solid #ddd;
		border-radius: 4px;
		background-color: #fff;
		box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
		transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	}

	.nav-link.active {
		color: #fff !important;
		background-color: #007bff !important; 
	}
		.table thead select:focus {
			border-color: #5cb3fd;
			outline: 0;
			box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(28,135,243,0.6);
		}

	.nav-link.active:hover {
		background-color: #ddd; 
		color: #000; 
	}
</style>
<div class="container-fluid">

	<div class="header">
		<h1 class="header-title">
			Lazer Epilyasiyası Rezervasiya
		</h1>
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
			
			</ol>
		</nav>
	</div>
	<div class="row">
		<div class="col-12">
			<div class="card">
				
				<div class="card-body">
					<div class="col-12 col-lg-12">
						<div class="tab">
							<ul class="nav nav-tabs" role="tablist">
								<li class="nav-item"><a class="nav-link active" href="#tab-1" data-bs-toggle="tab" role="tab">Bu gün</a></li>
								<li class="nav-item"><a class="nav-link" href="#tab-2" data-bs-toggle="tab" role="tab">Sabah</a></li>
								<li class="nav-item"><a class="nav-link" href="#tab-3" data-bs-toggle="tab" role="tab">@DateTime.UtcNow.AddDays(2).ToAzerbaijanFormat()</a></li>
								<li class="nav-item"><a class="nav-link" href="#tab-4" data-bs-toggle="tab" role="tab">@DateTime.UtcNow.AddDays(3).ToAzerbaijanFormat()</a></li>
								<li class="nav-item"><a class="nav-link" href="#tab-5" data-bs-toggle="tab" role="tab">@DateTime.UtcNow.AddDays(4).ToAzerbaijanFormat()</a></li>
								<li class="nav-item"><a class="nav-link" href="#tab-6" data-bs-toggle="tab" role="tab">@DateTime.UtcNow.AddDays(5).ToAzerbaijanFormat()</a></li>
								<li class="nav-item"><a class="nav-link" href="#tab-7" data-bs-toggle="tab" role="tab">@DateTime.UtcNow.AddDays(6).ToAzerbaijanFormat()</a></li>
								<li class="nav-item"><a class="nav-link" href="#tab-8" data-bs-toggle="tab" role="tab">@DateTime.UtcNow.AddDays(7).ToAzerbaijanFormat()</a></li>
								<li class="nav-item"><a class="nav-link" href="#tab-9" data-bs-toggle="tab" role="tab">@DateTime.UtcNow.AddDays(8).ToAzerbaijanFormat()</a></li>
								<li class="nav-item"><a class="nav-link" href="#tab-10" data-bs-toggle="tab" role="tab">@DateTime.UtcNow.AddDays(9).ToAzerbaijanFormat()</a></li>
								<li class="nav-item"><a class="nav-link" href="#tab-11" data-bs-toggle="tab" role="tab">@DateTime.UtcNow.AddDays(10).ToAzerbaijanFormat()</a></li>
							</ul>
							<div class="tab-content">
								<div class="tab-pane active" id="tab-1" role="tabpanel">
									<h4 class="tab-title">Default tabs</h4>
									<table class="table table-striped datatables-column-search-select-inputs" style="width:100%">
										<thead>
											<tr>
												<th>Rezerv tarixi</th>
												<th>Müştəri</th>
												<th>Lazeroloq</th>
												<th>Nahiyə</th>
												<th>Giriş saatı</th>
												<th>Çıxış saatı</th>
												<th>Status</th>
												<th>Əməliyyatlar</th>
											</tr>
											<tr>
												<th><input type="text" data-mask="00.00.0000" class="form-control column-filter" placeholder="Tarix"></th>
												<th><input type="text" class="form-control column-filter" placeholder="Müştəri"></th>
												<th><input type="text" class="form-control column-filter" placeholder="Lazeroloq"></th>
												<th><input type="text" class="form-control column-filter" placeholder="Nahiyə"></th>
												<th><input type="text" data-mask="00-00" class="form-control column-filter" placeholder="Giriş saatı"></th>
												<th><input type="text" data-mask="00-00" class="form-control column-filter" placeholder="Çıxış saatı"></th>	
												<th><input type="text" class="form-control column-filter" placeholder=" Status"></th>
												<th><input type="text" class="form-control column-filter" placeholder=" Əməliyyatlar" disabled></th>
											</tr>
										</thead>
										<tbody>
											@foreach (var item in Model)
											{
												<tr>
													<td>@item.ReservationDate.ToString("dd.MM.YYYY")</td>
													<td>@item.Customers.FullName</td>
													<td>@item.Master.FullName</td>
													<td>
														@foreach (var reports in item.LazerAppointmentReports)
														{
															<div>@reports.LazerCategory.Name</div>
														}
													</td>
													<td>
														@if (item.IsStarted)
														{
															@item.StartTime.Value.ToString("HH:dd")
														}
														else
														{
															<div>Seans başlamayıb</div>
														}
													</td>
													<td>
														@if (item.IsCompleted)
														{
															@item.StartTime.Value.ToString("HH:dd")
														}
														else
														{
															<div>Seans başlamayıb</div>
														}
													</td>
													<td>
														@if (item.IsReserved)
														{
															<span style="color:green">Rezervasiya<b></b></span>
														}
														else
														{
															<span style="color:blue">Seans başlayıb<b></b></span>
														}
													</td>
													<td>2011/06/07</td>

												</tr>
											}


										</tbody>
									</table>
								</div>
								<div class="tab-pane" id="tab-2" role="tabpanel">
									<h4 class="tab-title">Another one</h4>
									<table class="table table-striped datatables-column-search-select-inputs" style="width:100%">
										<thead>
											<tr>
												<th>Rezerv tarixi</th>
												<th>Müştəri</th>
												<th>Lazeroloq</th>
												<th>Nahiyə</th>
												<th>Giriş saatı</th>
												<th>Çıxış saatı</th>
												<th>Status</th>
												<th>Əməliyyatlar</th>
											</tr>
											<tr>
												<th><input type="text" data-mask="00.00.0000" class="form-control column-filter" placeholder="Tarix"></th>
												<th><input type="text" class="form-control column-filter" placeholder="Müştəri"></th>
												<th><input type="text" class="form-control column-filter" placeholder="Lazeroloq"></th>
												<th><input type="text" class="form-control column-filter" placeholder="Nahiyə"></th>
												<th><input type="text" data-mask="00-00" class="form-control column-filter" placeholder="Giriş saatı"></th>
												<th><input type="text" data-mask="00-00" class="form-control column-filter" placeholder="Çıxış saatı"></th>
												<th><input type="text" class="form-control column-filter" placeholder=" Status"></th>
												<th><input type="text" class="form-control column-filter" placeholder=" Əməliyyatlar" disabled></th>
											</tr>
										</thead>
										<tbody>
											@foreach (var item in Model)
											{
												<tr>
													<td>@item.ReservationDate.ToString("dd.MM.YYYY")</td>
													<td>@item.Customers.FullName</td>
													<td>@item.Master.FullName</td>
													<td>
														@foreach (var reports in item.LazerAppointmentReports)
														{
															<div>@reports.LazerCategory.Name</div>
														}
													</td>
													<td>
														@if (item.IsStarted)
														{
															@item.StartTime.Value.ToString("HH:dd")
														}
														else
														{
															<div>Seans başlamayıb</div>
														}
													</td>
													<td>
														@if (item.IsCompleted)
														{
															@item.StartTime.Value.ToString("HH:dd")
														}
														else
														{
															<div>Seans başlamayıb</div>
														}
													</td>
													<td>
														@if (item.IsReserved)
														{
															<span style="color:green">Rezervasiya<b></b></span>
														}
														else
														{
															<span style="color:blue">Seans başlayıb<b></b></span>
														}
													</td>
													<td>2011/06/07</td>

												</tr>
											}


										</tbody>
									</table>
								</div>
								<div class="tab-pane" id="tab-3" role="tabpanel">
									<h4 class="tab-title">One more</h4>
									<table class="table table-striped datatables-column-search-select-inputs" style="width:100%">
										<thead>
											<tr>
												<th>Rezerv tarixi</th>
												<th>Müştəri</th>
												<th>Lazeroloq</th>
												<th>Nahiyə</th>
												<th>Giriş saatı</th>
												<th>Çıxış saatı</th>
												<th>Status</th>
												<th>Əməliyyatlar</th>
											</tr>
											<tr>
												<th><input type="text" data-mask="00.00.0000" class="form-control column-filter" placeholder="Tarix"></th>
												<th><input type="text" class="form-control column-filter" placeholder="Müştəri"></th>
												<th><input type="text" class="form-control column-filter" placeholder="Lazeroloq"></th>
												<th><input type="text" class="form-control column-filter" placeholder="Nahiyə"></th>
												<th><input type="text" data-mask="00-00" class="form-control column-filter" placeholder="Giriş saatı"></th>
												<th><input type="text" data-mask="00-00" class="form-control column-filter" placeholder="Çıxış saatı"></th>
												<th><input type="text" class="form-control column-filter" placeholder=" Status"></th>
												<th><input type="text" class="form-control column-filter" placeholder=" Əməliyyatlar" disabled></th>
											</tr>
										</thead>
										<tbody>
											@foreach (var item in Model)
											{
												<tr>
													<td>@item.ReservationDate.ToString("dd.MM.YYYY")</td>
													<td>@item.Customers.FullName</td>
													<td>@item.Master.FullName</td>
													<td>
														@foreach (var reports in item.LazerAppointmentReports)
														{
															<div>@reports.LazerCategory.Name</div>
														}
													</td>
													<td>
														@if (item.IsStarted)
														{
															@item.StartTime.Value.ToString("HH:dd")
														}
														else
														{
															<div>Seans başlamayıb</div>
														}
													</td>
													<td>
														@if (item.IsCompleted)
														{
															@item.StartTime.Value.ToString("HH:dd")
														}
														else
														{
															<div>Seans başlamayıb</div>
														}
													</td>
													<td>
														@if (item.IsReserved)
														{
															<span style="color:green">Rezervasiya<b></b></span>
														}
														else
														{
															<span style="color:blue">Seans başlayıb<b></b></span>
														}
													</td>
													<td>2011/06/07</td>

												</tr>
											}


										</tbody>
									</table>
								</div>
								<div class="tab-pane" id="tab-4" role="tabpanel">
									<h4 class="tab-title">One more</h4>
									<table class="table table-striped datatables-column-search-select-inputs" style="width:100%">
										<thead>
											<tr>
												<th>Rezerv tarixi</th>
												<th>Müştəri</th>
												<th>Lazeroloq</th>
												<th>Nahiyə</th>
												<th>Giriş saatı</th>
												<th>Çıxış saatı</th>
												<th>Status</th>
												<th>Əməliyyatlar</th>
											</tr>
											<tr>
												<th><input type="text" data-mask="00.00.0000" class="form-control column-filter" placeholder="Tarix"></th>
												<th><input type="text" class="form-control column-filter" placeholder="Müştəri"></th>
												<th><input type="text" class="form-control column-filter" placeholder="Lazeroloq"></th>
												<th><input type="text" class="form-control column-filter" placeholder="Nahiyə"></th>
												<th><input type="text" data-mask="00-00" class="form-control column-filter" placeholder="Giriş saatı"></th>
												<th><input type="text" data-mask="00-00" class="form-control column-filter" placeholder="Çıxış saatı"></th>
												<th><input type="text" class="form-control column-filter" placeholder=" Status"></th>
												<th><input type="text" class="form-control column-filter" placeholder=" Əməliyyatlar" disabled></th>
											</tr>
										</thead>
										<tbody>
											@foreach (var item in Model)
											{
												<tr>
													<td>@item.ReservationDate.ToString("dd.MM.YYYY")</td>
													<td>@item.Customers.FullName</td>
													<td>@item.Master.FullName</td>
													<td>
														@foreach (var reports in item.LazerAppointmentReports)
														{
															<div>@reports.LazerCategory.Name</div>
														}
													</td>
													<td>
														@if (item.IsStarted)
														{
															@item.StartTime.Value.ToString("HH:dd")
														}
														else
														{
															<div>Seans başlamayıb</div>
														}
													</td>
													<td>
														@if (item.IsCompleted)
														{
															@item.StartTime.Value.ToString("HH:dd")
														}
														else
														{
															<div>Seans başlamayıb</div>
														}
													</td>
													<td>
														@if (item.IsReserved)
														{
															<span style="color:green">Rezervasiya<b></b></span>
														}
														else
														{
															<span style="color:blue">Seans başlayıb<b></b></span>
														}
													</td>
													<td>2011/06/07</td>

												</tr>
											}


										</tbody>
									</table>
								</div>
								<div class="tab-pane" id="tab-5" role="tabpanel">
									<h4 class="tab-title">One more</h4>
									<table class="table table-striped datatables-column-search-select-inputs" style="width:100%">
										<thead>
											<tr>
												<th>Rezerv tarixi</th>
												<th>Müştəri</th>
												<th>Lazeroloq</th>
												<th>Nahiyə</th>
												<th>Giriş saatı</th>
												<th>Çıxış saatı</th>
												<th>Status</th>
												<th>Əməliyyatlar</th>
											</tr>
											<tr>
												<th><input type="text" data-mask="00.00.0000" class="form-control column-filter" placeholder="Tarix"></th>
												<th><input type="text" class="form-control column-filter" placeholder="Müştəri"></th>
												<th><input type="text" class="form-control column-filter" placeholder="Lazeroloq"></th>
												<th><input type="text" class="form-control column-filter" placeholder="Nahiyə"></th>
												<th><input type="text" data-mask="00-00" class="form-control column-filter" placeholder="Giriş saatı"></th>
												<th><input type="text" data-mask="00-00" class="form-control column-filter" placeholder="Çıxış saatı"></th>
												<th><input type="text" class="form-control column-filter" placeholder=" Status"></th>
												<th><input type="text" class="form-control column-filter" placeholder=" Əməliyyatlar" disabled></th>
											</tr>
										</thead>
										<tbody>
											@foreach (var item in Model)
											{
												<tr>
													<td>@item.ReservationDate.ToString("dd.MM.YYYY")</td>
													<td>@item.Customers.FullName</td>
													<td>@item.Master.FullName</td>
													<td>
														@foreach (var reports in item.LazerAppointmentReports)
														{
															<div>@reports.LazerCategory.Name</div>
														}
													</td>
													<td>
														@if (item.IsStarted)
														{
															@item.StartTime.Value.ToString("HH:dd")
														}
														else
														{
															<div>Seans başlamayıb</div>
														}
													</td>
													<td>
														@if (item.IsCompleted)
														{
															@item.StartTime.Value.ToString("HH:dd")
														}
														else
														{
															<div>Seans başlamayıb</div>
														}
													</td>
													<td>
														@if (item.IsReserved)
														{
															<span style="color:green">Rezervasiya<b></b></span>
														}
														else
														{
															<span style="color:blue">Seans başlayıb<b></b></span>
														}
													</td>
													<td>2011/06/07</td>

												</tr>
											}


										</tbody>
									</table>
								</div>
								<div class="tab-pane" id="tab-6" role="tabpanel">
									<h4 class="tab-title">One more</h4>
									<table class="table table-striped datatables-column-search-select-inputs" style="width:100%">
										<thead>
											<tr>
												<th>Rezerv tarixi</th>
												<th>Müştəri</th>
												<th>Lazeroloq</th>
												<th>Nahiyə</th>
												<th>Giriş saatı</th>
												<th>Çıxış saatı</th>
												<th>Status</th>
												<th>Əməliyyatlar</th>
											</tr>
											<tr>
												<th><input type="text" data-mask="00.00.0000" class="form-control column-filter" placeholder="Tarix"></th>
												<th><input type="text" class="form-control column-filter" placeholder="Müştəri"></th>
												<th><input type="text" class="form-control column-filter" placeholder="Lazeroloq"></th>
												<th><input type="text" class="form-control column-filter" placeholder="Nahiyə"></th>
												<th><input type="text" data-mask="00-00" class="form-control column-filter" placeholder="Giriş saatı"></th>
												<th><input type="text" data-mask="00-00" class="form-control column-filter" placeholder="Çıxış saatı"></th>
												<th><input type="text" class="form-control column-filter" placeholder=" Status"></th>
												<th><input type="text" class="form-control column-filter" placeholder=" Əməliyyatlar" disabled></th>
											</tr>
										</thead>
										<tbody>
											@foreach (var item in Model)
											{
												<tr>
													<td>@item.ReservationDate.ToString("dd.MM.YYYY")</td>
													<td>@item.Customers.FullName</td>
													<td>@item.Master.FullName</td>
													<td>
														@foreach (var reports in item.LazerAppointmentReports)
														{
															<div>@reports.LazerCategory.Name</div>
														}
													</td>
													<td>
														@if (item.IsStarted)
														{
															@item.StartTime.Value.ToString("HH:dd")
														}
														else
														{
															<div>Seans başlamayıb</div>
														}
													</td>
													<td>
														@if (item.IsCompleted)
														{
															@item.StartTime.Value.ToString("HH:dd")
														}
														else
														{
															<div>Seans başlamayıb</div>
														}
													</td>
													<td>
														@if (item.IsReserved)
														{
															<span style="color:green">Rezervasiya<b></b></span>
														}
														else
														{
															<span style="color:blue">Seans başlayıb<b></b></span>
														}
													</td>
													<td>2011/06/07</td>

												</tr>
											}


										</tbody>
									</table>
								</div>
								<div class="tab-pane" id="tab-7" role="tabpanel">
									<h4 class="tab-title">One more</h4>
									<table class="table table-striped datatables-column-search-select-inputs" style="width:100%">
										<thead>
											<tr>
												<th>Rezerv tarixi</th>
												<th>Müştəri</th>
												<th>Lazeroloq</th>
												<th>Nahiyə</th>
												<th>Giriş saatı</th>
												<th>Çıxış saatı</th>
												<th>Status</th>
												<th>Əməliyyatlar</th>
											</tr>
											<tr>
												<th><input type="text" data-mask="00.00.0000" class="form-control column-filter" placeholder="Tarix"></th>
												<th><input type="text" class="form-control column-filter" placeholder="Müştəri"></th>
												<th><input type="text" class="form-control column-filter" placeholder="Lazeroloq"></th>
												<th><input type="text" class="form-control column-filter" placeholder="Nahiyə"></th>
												<th><input type="text" data-mask="00-00" class="form-control column-filter" placeholder="Giriş saatı"></th>
												<th><input type="text" data-mask="00-00" class="form-control column-filter" placeholder="Çıxış saatı"></th>
												<th><input type="text" class="form-control column-filter" placeholder=" Status"></th>
												<th><input type="text" class="form-control column-filter" placeholder=" Əməliyyatlar" disabled></th>
											</tr>
										</thead>
										<tbody>
											@foreach (var item in Model)
											{
												<tr>
													<td>@item.ReservationDate.ToString("dd.MM.YYYY")</td>
													<td>@item.Customers.FullName</td>
													<td>@item.Master.FullName</td>
													<td>
														@foreach (var reports in item.LazerAppointmentReports)
														{
															<div>@reports.LazerCategory.Name</div>
														}
													</td>
													<td>
														@if (item.IsStarted)
														{
															@item.StartTime.Value.ToString("HH:dd")
														}
														else
														{
															<div>Seans başlamayıb</div>
														}
													</td>
													<td>
														@if (item.IsCompleted)
														{
															@item.StartTime.Value.ToString("HH:dd")
														}
														else
														{
															<div>Seans başlamayıb</div>
														}
													</td>
													<td>
														@if (item.IsReserved)
														{
															<span style="color:green">Rezervasiya<b></b></span>
														}
														else
														{
															<span style="color:blue">Seans başlayıb<b></b></span>
														}
													</td>
													<td>2011/06/07</td>

												</tr>
											}


										</tbody>
									</table>
								</div>
								<div class="tab-pane" id="tab-8" role="tabpanel">
									<h4 class="tab-title">One more</h4>
									<table class="table table-striped datatables-column-search-select-inputs" style="width:100%">
										<thead>
											<tr>
												<th>Rezerv tarixi</th>
												<th>Müştəri</th>
												<th>Lazeroloq</th>
												<th>Nahiyə</th>
												<th>Giriş saatı</th>
												<th>Çıxış saatı</th>
												<th>Status</th>
												<th>Əməliyyatlar</th>
											</tr>
											<tr>
												<th><input type="text" data-mask="00.00.0000" class="form-control column-filter" placeholder="Tarix"></th>
												<th><input type="text" class="form-control column-filter" placeholder="Müştəri"></th>
												<th><input type="text" class="form-control column-filter" placeholder="Lazeroloq"></th>
												<th><input type="text" class="form-control column-filter" placeholder="Nahiyə"></th>
												<th><input type="text" data-mask="00-00" class="form-control column-filter" placeholder="Giriş saatı"></th>
												<th><input type="text" data-mask="00-00" class="form-control column-filter" placeholder="Çıxış saatı"></th>
												<th><input type="text" class="form-control column-filter" placeholder=" Status"></th>
												<th><input type="text" class="form-control column-filter" placeholder=" Əməliyyatlar" disabled></th>
											</tr>
										</thead>
										<tbody>
											@foreach (var item in Model)
											{
												<tr>
													<td>@item.ReservationDate.ToString("dd.MM.YYYY")</td>
													<td>@item.Customers.FullName</td>
													<td>@item.Master.FullName</td>
													<td>
														@foreach (var reports in item.LazerAppointmentReports)
														{
															<div>@reports.LazerCategory.Name</div>
														}
													</td>
													<td>
														@if (item.IsStarted)
														{
															@item.StartTime.Value.ToString("HH:dd")
														}
														else
														{
															<div>Seans başlamayıb</div>
														}
													</td>
													<td>
														@if (item.IsCompleted)
														{
															@item.StartTime.Value.ToString("HH:dd")
														}
														else
														{
															<div>Seans başlamayıb</div>
														}
													</td>
													<td>
														@if (item.IsReserved)
														{
															<span style="color:green">Rezervasiya<b></b></span>
														}
														else
														{
															<span style="color:blue">Seans başlayıb<b></b></span>
														}
													</td>
													<td>2011/06/07</td>

												</tr>
											}


										</tbody>
									</table>
								</div>
								<div class="tab-pane" id="tab-9" role="tabpanel">
									<h4 class="tab-title">One more</h4>
									<table class="table table-striped datatables-column-search-select-inputs" style="width:100%">
										<thead>
											<tr>
												<th>Rezerv tarixi</th>
												<th>Müştəri</th>
												<th>Lazeroloq</th>
												<th>Nahiyə</th>
												<th>Giriş saatı</th>
												<th>Çıxış saatı</th>
												<th>Status</th>
												<th>Əməliyyatlar</th>
											</tr>
											<tr>
												<th><input type="text" data-mask="00.00.0000" class="form-control column-filter" placeholder="Tarix"></th>
												<th><input type="text" class="form-control column-filter" placeholder="Müştəri"></th>
												<th><input type="text" class="form-control column-filter" placeholder="Lazeroloq"></th>
												<th><input type="text" class="form-control column-filter" placeholder="Nahiyə"></th>
												<th><input type="text" data-mask="00-00" class="form-control column-filter" placeholder="Giriş saatı"></th>
												<th><input type="text" data-mask="00-00" class="form-control column-filter" placeholder="Çıxış saatı"></th>
												<th><input type="text" class="form-control column-filter" placeholder=" Status"></th>
												<th><input type="text" class="form-control column-filter" placeholder=" Əməliyyatlar" disabled></th>
											</tr>
										</thead>
										<tbody>
											@foreach (var item in Model)
											{
												<tr>
													<td>@item.ReservationDate.ToString("dd.MM.YYYY")</td>
													<td>@item.Customers.FullName</td>
													<td>@item.Master.FullName</td>
													<td>
														@foreach (var reports in item.LazerAppointmentReports)
														{
															<div>@reports.LazerCategory.Name</div>
														}
													</td>
													<td>
														@if (item.IsStarted)
														{
															@item.StartTime.Value.ToString("HH:dd")
														}
														else
														{
															<div>Seans başlamayıb</div>
														}
													</td>
													<td>
														@if (item.IsCompleted)
														{
															@item.StartTime.Value.ToString("HH:dd")
														}
														else
														{
															<div>Seans başlamayıb</div>
														}
													</td>
													<td>
														@if (item.IsReserved)
														{
															<span style="color:green">Rezervasiya<b></b></span>
														}
														else
														{
															<span style="color:blue">Seans başlayıb<b></b></span>
														}
													</td>
													<td>2011/06/07</td>

												</tr>
											}


										</tbody>
									</table>
								</div>
								<div class="tab-pane" id="tab-10" role="tabpanel">
									<h4 class="tab-title">One more</h4>
									<table class="table table-striped datatables-column-search-select-inputs" style="width:100%">
										<thead>
											<tr>
												<th>Rezerv tarixi</th>
												<th>Müştəri</th>
												<th>Lazeroloq</th>
												<th>Nahiyə</th>
												<th>Giriş saatı</th>
												<th>Çıxış saatı</th>
												<th>Status</th>
												<th>Əməliyyatlar</th>
											</tr>
											<tr>
												<th><input type="text" data-mask="00.00.0000" class="form-control column-filter" placeholder="Tarix"></th>
												<th><input type="text" class="form-control column-filter" placeholder="Müştəri"></th>
												<th><input type="text" class="form-control column-filter" placeholder="Lazeroloq"></th>
												<th><input type="text" class="form-control column-filter" placeholder="Nahiyə"></th>
												<th><input type="text" data-mask="00-00" class="form-control column-filter" placeholder="Giriş saatı"></th>
												<th><input type="text" data-mask="00-00" class="form-control column-filter" placeholder="Çıxış saatı"></th>
												<th><input type="text" class="form-control column-filter" placeholder=" Status"></th>
												<th><input type="text" class="form-control column-filter" placeholder=" Əməliyyatlar" disabled></th>
											</tr>
										</thead>
										<tbody>
											@foreach (var item in Model)
											{
												<tr>
													<td>@item.ReservationDate.ToString("dd.MM.YYYY")</td>
													<td>@item.Customers.FullName</td>
													<td>@item.Master.FullName</td>
													<td>
														@foreach (var reports in item.LazerAppointmentReports)
														{
															<div>@reports.LazerCategory.Name</div>
														}
													</td>
													<td>
														@if (item.IsStarted)
														{
															@item.StartTime.Value.ToString("HH:dd")
														}
														else
														{
															<div>Seans başlamayıb</div>
														}
													</td>
													<td>
														@if (item.IsCompleted)
														{
															@item.StartTime.Value.ToString("HH:dd")
														}
														else
														{
															<div>Seans başlamayıb</div>
														}
													</td>
													<td>
														@if (item.IsReserved)
														{
															<span style="color:green">Rezervasiya<b></b></span>
														}
														else
														{
															<span style="color:blue">Seans başlayıb<b></b></span>
														}
													</td>
													<td>2011/06/07</td>

												</tr>
											}


										</tbody>
									</table>
								</div>
								<div class="tab-pane" id="tab-11" role="tabpanel">
									<h4 class="tab-title">One more</h4>
									<table class="table table-striped datatables-column-search-select-inputs" style="width:100%">
										<thead>
											<tr>
												<th>Rezerv tarixi</th>
												<th>Müştəri</th>
												<th>Lazeroloq</th>
												<th>Nahiyə</th>
												<th>Giriş saatı</th>
												<th>Çıxış saatı</th>
												<th>Status</th>
												<th>Əməliyyatlar</th>
											</tr>
											<tr>
												<th><input type="text" data-mask="00.00.0000" class="form-control column-filter" placeholder="Tarix"></th>
												<th><input type="text" class="form-control column-filter" placeholder="Müştəri"></th>
												<th><input type="text" class="form-control column-filter" placeholder="Lazeroloq"></th>
												<th><input type="text" class="form-control column-filter" placeholder="Nahiyə"></th>
												<th><input type="text" data-mask="00-00" class="form-control column-filter" placeholder="Giriş saatı"></th>
												<th><input type="text" data-mask="00-00" class="form-control column-filter" placeholder="Çıxış saatı"></th>
												<th><input type="text" class="form-control column-filter" placeholder=" Status"></th>
												<th><input type="text" class="form-control column-filter" placeholder=" Əməliyyatlar" disabled></th>
											</tr>
										</thead>
										<tbody>
											@foreach (var item in Model)
											{
												<tr>
													<td>@item.ReservationDate.ToString("dd.MM.YYYY")</td>
													<td>@item.Customers.FullName</td>
													<td>@item.Master.FullName</td>
													<td>
														@foreach (var reports in item.LazerAppointmentReports)
														{
															<div>@reports.LazerCategory.Name</div>
														}
													</td>
													<td>
														@if (item.IsStarted)
														{
															@item.StartTime.Value.ToString("HH:dd")
														}
														else
														{
															<div>Seans başlamayıb</div>
														}
													</td>
													<td>
														@if (item.IsCompleted)
														{
															@item.StartTime.Value.ToString("HH:dd")
														}
														else
														{
															<div>Seans başlamayıb</div>
														}
													</td>
													<td>
														@if (item.IsReserved)
														{
															<span style="color:green">Rezervasiya<b></b></span>
														}
														else
														{
															<span style="color:blue">Seans başlayıb<b></b></span>
														}
													</td>
													<td>2011/06/07</td>

												</tr>
											}


										</tbody>
									</table>
										
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>


<script>
	document.addEventListener("DOMContentLoaded", function () {


		var table = $('.datatables-column-search-select-inputs').DataTable({
			columnDefs: [
				{ orderable: false, targets: [0, 1, 2, 3, 4, 5,6,7,8] }
			],
			initComplete: function () {
				var columns = this.api().columns();


				columns.every(function () {
					var column = this;
					$('input', column.header()).on('keyup change', function () {
						column.search(this.value).draw();
					});
				});

			}
		});
	});
</script>
